@import './_character-sheet-navbar.less';
@import './_character-sheet-tab-character.less';

@aside-width: 144px;
@madness-background-color-primary: #44546a;
@madness-background-color-secondary: #222a35;
@madness-background-color-tertiary: #d6dce5;
@madness-highlight-color: #ffc000;

.sheet.character .window-content {
	background: linear-gradient(
		to right,
		@madness-background-color-primary calc(@aside-width + 8px),
		white 0%
	);
	padding: 0px;

	form {
		margin: 8px;
		z-index: 1;
	}

	a:hover {
		text-shadow: 0 0 8px @madness-highlight-color;
	}
}

.sheet.character .window-content::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 32px;
	background-color: @madness-background-color-primary;
}

.sheet.character .window-content:has(.tab.character.active)::before {
	height: 176px;
}
