@aside-width: 144px;
@madness-background-color-primary: #44546a;
@madness-background-color-secondary: #222a35;
@madness-background-color-tertiary: #d6dce5;
@madness-highlight-color: #ffc000;

.madness.sheet .window-content {
	background: white;

	input:focus,
	select:focus,
	textarea:focus {
		box-shadow: 0 0 5px @madness-highlight-color;
	}

	textarea {
		font-family: inherit;
	}

	button {
		background-color: @madness-highlight-color;
		color: black;
		border: none;
		border-radius: 0px;
	}
}

.prosemirror {
	min-height: 10em;
}

.editor-content {
	min-height: 2.5em;
}

.item-list {
	min-height: 2rem;
}
