@import './_global.less';
@import './actor-sheet/_sheet.less';
@import './apps/_chat.less';
@import './item-sheet/_sheet.less';
@import './token/_hud.less';
@import './ui/_effects-tracker.less';
@import './partials/_passives.less';
@import './pop-up//_edit-popup.less';

@font-face {
	font-family: 'Signika Light';
	src: url('./resources/fonts/signika/signika-light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
