// main: "../madness.less"

@import './_navbar.less';
@import './tabs/_character.less';
@import './tabs/_actions.less';
@import './tabs/_actions-tooltip.less';
@import './tabs//_notes.less';
@import './tabs/_inventory.less';
@import './tabs/_status.less';

.sheet.character .window-content {
	form.editable {
		margin: 0;

		&:has(.tab.character.active) {
			background: linear-gradient(
				to right,
				@madness-background-color-primary calc(@aside-width),
				white 0%
			);
		}
	}

	padding: 0px;

	a:hover {
		text-shadow: 0 0 8px @madness-highlight-color;
	}

	button:hover {
		box-shadow: 0 0 8px @madness-highlight-color;
	}

	section {
		& > .section-header {
			text-align: center;
			color: white;
			font-size: 1.2em;
			margin-bottom: 8px;
			background-color: @madness-background-color-primary;
			position: relative;

			> div {
				height: 28px;
				line-height: 28px;
			}

			.decoration {
				margin: 0px 108px 0 auto;
				height: 28px;
				position: absolute;
				top: 0px;
				right: 0px;

				div {
					display: inline-block;
					background-color: #ffc000;
					height: 28px;
					width: 52px;
					transform: skewX(-20deg);

					&:nth-child(1) {
						margin-right: 8px;
					}
				}
			}
		}

		& > .content {
			margin: 8px;
			margin-bottom: 18px;
			min-height: 124px;
		}
	}
}
