// main: "../madness.less"

@import './_equipment.less';
@import './_weapon.less';

.sheet.item .window-content {
	padding: 0px;

	header {
		display: flex;
		flex-wrap: nowrap;
		background-color: @madness-background-color-primary;
		height: 92px;

		> img {
			height: 100%;
			border: none;
		}

		> div {
			display: flex;
			flex-direction: column;

			.decoration {
				margin: 0px 108px 0 auto;
				height: 28px;

				div {
					display: inline-block;
					background-color: #ffc000;
					height: 28px;
					width: 52px;
					transform: skewX(-20deg);

					&:nth-child(1) {
						margin-right: 8px;
					}
				}
			}

			.name {
				background-color: @madness-background-color-secondary;
				height: 36px;
				margin-bottom: 28px;
				margin-right: 8px;

				input {
					color: white;
					height: 100%;
					border: none;
				}
			}
		}
	}

	.sheet-content {
		padding: 8px;

		.description {
			.editor {
				background: rgba(0, 0, 0, 0.05);
				border: solid 1px var(--color-border-light-tertiary);
				border-radius: 3px;
				padding: 1px 3px;
			}
		}

		.details {
			table {
				border: none;
				text-align: center;

				&.attributes-table,
				&.damage-table {
					table-layout: fixed;
				}

				td {
					padding: 4px;
				}
			}
		}
	}

	input {
		display: inline-block;

		&[type='number'] {
			width: 32px;
		}
	}

	.damage-grid {
		display: flex;
		flex-wrap: nowrap;

		.attribute-damage {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			padding: 12px;

			&:first-child {
				padding-left: 0px;
			}

			.attribute-name {
				padding-bottom: 4px;
			}
		}
	}

	.item-list {
		min-height: 100px;
	}

	.effect-line {
		.header {
			background-color: @madness-background-color-secondary;
			color: white;
			padding: 4px;
		}

		.line {
			display: grid;
			grid-template-columns: 1fr 40px 40px;
			background-color: @madness-background-color-primary;
			color: white;
			padding: 4px;
			border-bottom: solid 2px white;

			input {
				color: white;
			}

			.detail-item-control {
				padding-top: 4px;
			}
		}
	}
}
