// main: "../madness.less"

.madness.sheet.edit-popup {
	table {
		tr {
			border: solid 1px white;

			td {
				padding: 4px 8px;

				&.header {
					background-color: @madness-background-color-primary;
					color: white;
					padding: 4px 8px;
				}

				&.value {
					width: 48px;
				}
			}
		}
	}
}
