<nav
	class='sheet-navigation'
	data-group='primary'
	data-tooltip-direction='DOWN'
>
	<a
		class='item'
		data-tab='character'
		data-tooltip='{{localize "Madness.Tab.Character"}}'
	>
		<i class='fa-solid fa-address-card'></i>
	</a>
	<a
		class='item'
		data-tab='actions'
		data-tooltip='{{localize "Madness.Tab.Actions"}}'
	>
		<i class='fa-solid fa-fist-raised'></i>
	</a>
	<a
		class='item'
		data-tab='inventory'
		data-tooltip='{{localize "Madness.Tab.Inventory"}}'
	>
		<i class='fa-solid fa-box-open'></i>
	</a>
	<a
		class='item'
		data-tab='notes'
		data-tooltip='{{localize "Madness.Tab.Notes"}}'
	>
		<i class='fa-solid fa-book-open'></i>
	</a>
</nav>