<form class="{{cssClass}}" autocomplete="off">
	<section class="sheet-body">
		<section class="sheet-content">
		{{> "madness.actor.character"}}
		</section>
	</section>
	{{> "madness.actor.navbar"}}
</form>