// main: "../../madness.less"

#tooltip:has(.tooltip.actions) {
	max-width: 500px;

	.tooltip.actions {
		tr {
			background-color: black;

			td {
				padding: 4px;
				border: solid 1px white;
			}
		}

		table.stats {
			table-layout: fixed;
		}

		table.effects {
			table-layout: auto;

			tr {
				td {
					min-width: 32px;
					font-size: 0.9em;
				}
			}
		}

		.module,
		.magic {
			width: 50%;
		}
	}
}
