// main: "../../madness.less"

.tab.inventory {
	table {
		width: calc(100% - @aside-width - 12px);
		margin-left: calc(@aside-width + 12px);

		.head {
			background-color: @madness-background-color-secondary;
			color: white;
		}

		tr {
			background-color: @madness-background-color-tertiary;
			height: 30px;

			td {
				border: solid 1px white;
				padding: 6px;

				&.value {
					width: 56px;
					text-align: center;
				}

				&.actions {
					width: 28px;
					background-color: white;
				}
			}
		}

		&.weapons {
			tr.placeholder {
				height: 30px;
			}

			td.head {
				width: 80px;
			}
		}

		&.equipment-weight-summary {
			width: auto;
			margin-left: auto;

			.head {
				background-color: @madness-background-color-primary;
				color: white;
				text-align: right;
				font-size: 0.9em;
			}
		}
	}
}
