// main: "../../madness.less"

.sheet.character .tab.notes {
	.editor {
		background: rgba(0, 0, 0, 0.05);
		border: solid 1px var(--color-border-light-tertiary);
		border-radius: 3px;
		padding: 1px 3px;
		margin: 8px;

		.editor-content,
		.editor-container {
			min-height: 50vh;
		}
	}
}
