// main: "../madness.less"

.passives-grid {
	.row {
		display: grid;
		grid-template-columns: 25% 1fr 15% 15% 5%;
		background-color: @madness-background-color-tertiary;
		min-height: 30px;

		&.head {
			background-color: @madness-background-color-secondary;
			color: white;
		}

		div {
			border: solid 1px white;
			padding: 6px;
			text-align: center;

			&.name,
			&.active,
			&.actions {
				grid-row: span 2;
			}

			&.description {
				grid-column: span 2;

				textarea {
					resize: vertical;
				}
			}

			&.active {
				background-color: @madness-highlight-color;
			}

			&.actions {
				background-color: white;
			}

			select {
				width: 100%;
			}
		}
	}
}

button.add-passive {
	display: block;
	width: fit-content;
	margin: 0px 0px 8px auto;
}
